<style>
      .body{
      	background-color: olive;
      	margin: 0px;
      	padding: 0px;
      }
      h1{
      	font-family: Arial,Helvetica,sans-serif;
      	text-align: center;
      }
      .container{
      	height: auto;
      	width: auto;
      	padding: 0px;
      	margin: 0px;
      }
      .row{
      	width: auto;
      	height: auto;

      }
      @media (min-width:992px ){
           .col-md-l{
           	  width: 30%;
           	  height: inherit;
           	  border: 2px solid black;
           	  margin: 8px;
           	  background-color: grey;
           	  float: left;
           	  box-sizing: border-box;


            }
        }
        @media (max-width: 991px) and (min-width: 766px){
        	.col-sm-m{
        		width: 48%;
        		height: inherit;
        		border: 2px solid black;
        		margin: 8px;
        		background-color: grey;
        		float: left;
        		box-sizing: border-box;
        	}
        }
        @media (max-width: 766px){
        	.col-xs-s{
        		width: 98%;
        		height: inherit;
        		border: 2px solid black;
        		margin: 8px;
        		background-color: grey;
        		box-sizing: border-box;
        		float: left;
        	}
        }
        @media (max-width: 991px){
        	.col-xs-xs{
        		width: 98%;
        		height: inherit;
        		border: 2px solid black;
        		margin: 8px;
        		background-color: grey;
        		box-sizing: border-box;
        		float: left;
        	}
        }
      h3{
      	font-family: Arial,Helvetica,sans-serif;
      	box-sizing: border-box;
      	text-align: right;
      	margin: 0px;
      }  

      #chicken{
      	font-family: Arial,Helvetica,sans-serif;
      	background-color: pink;
        border: 2px solid black;
      	border-right: 0px;
      	margin: 0px;
      	padding: 0px;
      	box-sizing: border-box;
      }
      #beef{
      	font-family: Arial,Helvetica,sans-serif;
      	background-color: darkred;
      	border: 2px solid black;
      	border-right: 0px;
      	margin: 0px;
      	padding: 0px;
      	box-sizing: border-box;
      }
      #sushi{
      	font-family: Arial,Helvetica,sans-serif;
      	background-color: yellow;
      	border: 2px solid black;
      	border-right: 0px;
      	margin: 0px;
      	padding: 0px;
       	box-sizing: border-box;
      }

</style>